/secrets.json
/user/migrations/
/project/migrations/
/db.sqlite3
/univ/migrations/
/project/migrations/
/theme/migrations/
/team/migrations/
/notice/migrations/
/devu-dev-template-1739954362.json
/devu-dev-template-1739954523.json
/zappa_settings.json
